{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta
    name="description"
    content="Desarrollo de sitios web y aplicaciones web. Tutoriales sobre programación y desarrollo web."
/>
<meta itemprop="name" content="Diego Abdo | Desarrollo de Sitios y Aplicaciones Web">
<meta itemprop="description" content="Desarrollo de sitios web y aplicaciones web. Tutoriales sobre programación y desarrollo web.">
<meta itemprop="image" content="https://diegoabdo.com/static/images/small-logo.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://diegoabdo.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Diego Abdo | Desarrollo de Sitios y Aplicaciones Web">
<meta property="og:description" content="Desarrollo de sitios web y aplicaciones web. Tutoriales sobre programación y desarrollo web.">
<meta property="og:image" content="https://diegoabdo.com/static/images/small-logo.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Diego Abdo | Desarrollo de Sitios y Aplicaciones Web">
<meta name="twitter:description" content="Desarrollo de sitios web y aplicaciones web. Tutoriales sobre programación y desarrollo web.">
<meta name="twitter:image" content="https://diegoabdo.com/static/images/small-logo.png">

<title>Diego Abdo | Desarrollo de Sitios y Aplicaciones Web</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7YYPBK08GG"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7YYPBK08GG');
</script>
{% endblock %}

{% block content %}
<section class="title-section" id="title">
    <div class="title-container">
        <div class="title-info">
            <h1>Soluciones que Generan</h1>
            <p>Construyo sitios y aplicaciones web que producen resultados.</p>
            <a href="#projects"><button class="blue-btn">PROYECTOS</button></a>
        </div>
        <div>
            <img class="showcase-img" alt="website" src="{% static 'images/showcase-svg.svg' %}">
        </div>
    </div>
</section>

<section class="services-section" id="services">
    <h2>Servicios</h2>
    <div class="underline"></div>
    <div class="services-container-1">
        <div class="service-block">
            <img alt="pintura" class="service-icon" src="{% static 'images/paint-icon.svg' %}">
            <h3>Diseño Web</h3>
            <p>Diseños adaptativos y modernos para tu sitio web.</p>
        </div>
        <div class="service-block">
            <img alt="codigo" class="service-icon" src="{% static 'images/code-icon.svg' %}">
            <h3>Sitios Web</h3>
            <p>Sitios web sencillos para tener tu negocio online.</p>
        </div>
        <div class="service-block">
            <img alt="herramienta" class="service-icon" src="{% static 'images/tool-icon.svg' %}">
            <h3>Desarrollo Web</h3>
            <p>Desarrollo de aplicaciones web completas y personalizadas.</p>
        </div>
    </div>
    <div class="services-container-2">
        <div class="service-block">
            <img alt="api" class="service-icon" src="{% static 'images/api-icon.svg' %}">
            <h3>API</h3>
            <p>Integración de una API con diferentos puntos.</p>
        </div>
        <div class="service-block">
            <img alt="flecha" class="service-icon" src="{% static 'images/arrow-icon.svg' %}">
            <h3>Publicación</h3>
            <p>Publicación de tu sitio web para que todos lo puedan ver.</p>
        </div>
    </div>
</section>

<section class="project-section" id="projects">
    <h2>Proyectos</h2>
    <div class="underline"></div>
    <div class="project-block right">
        <div class="project-info">
            <h3>Pintora Mexicana</h3>
            <p>Portafolio de pintora y artista plástica.</p>
            <div class="project-btns">
                <a target="_blank" href="https://anahi-pintoramexicana.com/"><button class="blue-btn ver-btn">VER</button></a>
            </div>
        </div>
        <div class="project-thumbnail">
            <img alt="pokelix" class="project-right" src="{% static 'images/pintora-mexicana.png' %}">
        </div>
        </div>

    <!-- <div class="project-block">
        <div class="project-thumbnail">
            <img alt="encuestas" class="project-left" src="{% static 'images/pokelix-frame.png' %}">
        </div>
        <div class="project-info">
            <h3>Pokelix</h3>
            <p>Busca cualquier pokemón y ve sus detalles.</p>
            <div class="project-btns">
                <a target="_blank" href="https://pokelix.herokuapp.com/"><button class="blue-btn ver-btn">VER</button></a>
                <a target="_blank" href="https://github.com/Diegoav87/Pokelix"><button class="dark-btn git-btn">GITHUB</button></a>
            </div>
        </div>
    </div> -->
</section>

<section class="contact-section" id="contact">
    <div class="contact-changer">
    <h2>Contacto</h2>
    <div class="underline"></div>
    <div class="contact-block">
        <div class="mail-icon">
            <img alt="correo" src="{% static 'images/mail.svg' %}">
        </div>
        <div class="contact-form">
            <form method="POST" action="{% url 'contact' %}">
                {% csrf_token %}
                <label>Nombre</label>
                <input name="name" type="text">
                <label>Correo</label>
                <input name="email" type="email">
                <label>Mensaje</label>
                <textarea name="message" rows="10"></textarea>
                <button class="blue-btn">MANDAR</button>
            </form>
            <div class="social-icons">
                <a href="https://www.facebook.com/diegoabdodev"><img alt="facebook" src="{% static 'images/social/facebook.svg' %}"></a>
                <a href="https://twitter.com/diegoabdodev"><img alt="twitter" src="{% static 'images/social/twitter.svg' %}"></a>
                <a href="https://www.youtube.com/channel/UCWvinsn7iTIha1WqhgxstBQ"><img alt="youtube" src="{% static 'images/social/youtube.svg' %}"></a>
                <a href="https://www.instagram.com/diego.devs/"><img alt="instagram" src="{% static 'images/social/instagram.svg' %}"></a>
                <a href="https://github.com/Diegoav87"><img alt="github" src="{% static 'images/social/github.svg' %}"></a>
            </div>
        </div>
    </div>
</div>
</section>

<footer>
    <div class="footer-placeholder">
        
    </div>
    <p class="footer-copy">&copy; 2021 Diego Abdo</p>
</footer>

{% endblock %}